# Node.js
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración del editor (dependiendo de tu editor)
.vscode/
.idea/

# Dependencias de paquetes
package-lock.json
yarn.lock

# Archivos de compilación o transpilación
dist/
build/
*.min.js

# Archivos temporales
